<div class="header-content">
    <div class="title">
        <a  class="site-logo" href="http://localhost:4200/" itemprop="image">
            <img src="assets\images\C.png" alt=" ">
        </a>
        
    </div>
    <div class="main-menu">
        <a href="" class="main-menu-link">
            <span>Team Management</span>
        </a>
        <a href="" class="main-menu-link">
            <span>Club Management</span>
        </a>
        <a href="" class="main-menu-link">
            <span>Resources</span>
        </a>
    </div>
    <div class="action-menu">
        <a href="" class="main-menu-link">
            <span>Log In</span>
        </a>
        <a href="" class="main-menu-link">
            <span>Join a team</span>
        </a>
        <a href="" class="main-menu-link">
            <span>Sign up my team </span>
        </a>
        

       
    </div>
    
</div>