.header-content{
    background-color: #030E2F;
    display: flex;
    justify-content: space-around;

    font-size: 0.9rem;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
  
   
}
.main-menu{
    display: flex;
}

.site-logo  img{
    width: 75px;
    margin-top: 10px;
    
}
.main-menu a{
    text-decoration: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}
.main-menu a span{
   display: inline-block;
   margin-top:30px;
}

.action-menu a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 12px;
    cursor: pointer;
}
.action-menu a span{
   display: inline-block;
   margin-top:30px;
}
.join-team{
    border: 2px solid white;
    border-radius: 5px;
}
.sign-team{
    
    border-radius: 5px;
    background-color: #63C37B

}
.team-manage-options,.club-manage-options,.resources-options{
    margin-top: 0;
    
   
    background-color: white;
    width: 350px;
    display: none;

    flex-direction: column;
    align-items: center;
    z-index: -1;
    position: fixed;
    border-radius: 20px;
    margin-top: 90px;
    top: 0;
  


    
    
}
.options-link{
    color: #030E2F;
}




